<!-- а тут вставлены селекторы компонентов (если я правильно их назвала) -->
<div class="d-flex justify-content-center align-item-center h-100">

    <mat-tab-group  dynamicHeight="true">
        <mat-tab label="Авторизация"> 
             <!-- директива для динамичесского добавления компонента -->
            <ng-template matTabContent>
                <app-authorization/>
            </ng-template>
            
        </mat-tab>


        <mat-tab label="Регистрация">
             <!-- директива для динамичесского добавления компонента -->
            <ng-template matTabContent>
            
                <app-registration/>
            
            </ng-template>
        </mat-tab>
       
    </mat-tab-group>
   
</div>