@use "variables";


:host {
  height: 60px;
  width: 100%;
  display: block;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: var(--header-background);
  color: #fff;
  height: 100%;
  padding: 4px 6px;
}

.user-info-wrap {
  display: flex;
  align-items: center;
}